body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1045px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:260px;
  top:40px;
  width:785px;
  height:50px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:781px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:460px;
  top:40px;
  width:330px;
  height:50px;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:326px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:260px;
  top:90px;
  width:785px;
  height:300px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:300px;
}
#u5 {
  position:absolute;
  left:2px;
  top:142px;
  width:781px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:380px;
  top:130px;
  width:160px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:520px;
  top:142px;
  width:200px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:380px;
  top:191px;
  width:160px;
  height:50px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:520px;
  top:203px;
  width:200px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:430px;
  top:270px;
  width:100px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:640px;
  top:270px;
  width:100px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
