body {
  margin:0px;
  position:static;
  left:auto;
  text-align:center;
  margin-left:0;
  margin-right:0;
}
#base {
  position:relative;
  text-align:center;
  z-index:0;
}
#u0 {
  position:relative;
  left:260px;
  top:40px;
  width:785px;
  height:50px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:781px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:relative;
  text-align:center;
  padding:100px 5px 15px 20px;

}
#u2_img {
  position:relative;
  text-align:center;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:326px;
  word-wrap:break-word;
}

#u6 {
  position:relative;
  text-align:center;
  padding:100px 5px 15px 20px;
  vertical-align:middle;
  margin: 0 auto;
}
u6_table {margin: 0 auto;}

#u6_img {
  position:relative;
  text-align:center;
}
#u7 {
  position:relative;
  position:relative;
  text-align:center;
  padding:0px 0px 15px 20px;
  vertical-align: middle;
}
#u8 {
  position:absolute;
  left:520px;
  top:142px;
  width:200px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:380px;
  top:191px;
  width:160px;
  height:50px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:520px;
  top:203px;
  width:200px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:relative;
  text-align:center;
  padding:100px 5px 15px 20px;
  vertical-align:middle;
}
#u12_input {
  position:relative;
  text-align:center;
  vertical-align:middle;
}
#u13 {
  position:relative;
  text-align:center;
  vertical-align:middle;
}
#u13_input {
  position:relative;
  text-align:center;
  vertical-align:middle;
}
