body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:549px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u3 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:130px;
  top:0px;
  width:190px;
  height:50px;
  font-family:'华文新魏 Regular', '华文新魏';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:51px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:80px;
  top:60px;
  width:150px;
  height:40px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'华文楷体 Regular', '华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:5px;
  top:0px;
  width:91px;
  height:40px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
  font-family:'华文楷体 Regular', '华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:0px;
  top:130px;
  width:325px;
  height:95px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:107px;
  top:0px;
  width:107px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:214px;
  top:0px;
  width:106px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:30px;
  width:107px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:107px;
  top:30px;
  width:107px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:214px;
  top:30px;
  width:106px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:60px;
  width:107px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:107px;
  top:60px;
  width:107px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:214px;
  top:60px;
  width:106px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:224px;
  top:503px;
  width:91px;
  height:40px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
  font-family:'华文楷体 Regular', '华文楷体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:110px;
  top:420px;
  width:210px;
  height:50px;
  font-family:'华文新魏 Regular', '华文新魏';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:51px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:206px;
  word-wrap:break-word;
}
