body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:95px;
  width:160px;
  height:50px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:240px;
  top:90px;
  width:10px;
  height:560px;
}
#u2_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u2_end {
  position:absolute;
  left:-5px;
  top:543px;
  width:20px;
  height:18px;
}
#u2_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:560px;
}
#u3 {
  position:absolute;
  left:70px;
  top:294px;
  width:160px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:70px;
  top:244px;
  width:160px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:70px;
  top:244px;
  width:160px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:260px;
  top:95px;
  width:785px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:781px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:260px;
  top:95px;
  width:160px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:260px;
  top:145px;
  width:785px;
  height:535px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:535px;
}
#u13 {
  position:absolute;
  left:2px;
  top:260px;
  width:781px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:70px;
  top:194px;
  width:160px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:380px;
  top:185px;
  width:160px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:520px;
  top:197px;
  width:200px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:380px;
  top:246px;
  width:130px;
  height:50px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:520px;
  top:258px;
  width:200px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:390px;
  top:306px;
  width:120px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:520px;
  top:319px;
  width:200px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:525px;
  top:452px;
  width:100px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:70px;
  top:445px;
  width:160px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:70px;
  top:144px;
  width:160px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:70px;
  top:395px;
  width:160px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:70px;
  top:344px;
  width:160px;
  height:50px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:334px;
  top:36px;
  width:316px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:24px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:920px;
  top:23px;
  width:95px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:91px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1000px;
  top:23px;
  width:70px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:395px;
  top:368px;
  width:115px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:520px;
  top:380px;
  width:200px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
