body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1211px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:24px;
}
#u1 {
  word-wrap:break-word;
}
#u2 {

}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u4 {
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:411px;
  top:499px;
  width:790px;
  height:95px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:157px;
  top:0px;
  width:130px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:287px;
  top:0px;
  width:130px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:417px;
  top:0px;
  width:130px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:547px;
  top:0px;
  width:238px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:234px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:30px;
  width:157px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:157px;
  top:30px;
  width:130px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:287px;
  top:30px;
  width:130px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:417px;
  top:30px;
  width:130px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:547px;
  top:30px;
  width:238px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:60px;
  width:157px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:157px;
  top:60px;
  width:130px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:287px;
  top:60px;
  width:130px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:417px;
  top:60px;
  width:130px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:547px;
  top:60px;
  width:238px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:411px;
  top:449px;
  width:785px;
  height:50px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:50px;
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:781px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:411px;
  top:449px;
  width:160px;
  height:50px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u40 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:411px;
  top:399px;
  width:160px;
  height:50px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u42 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:410px;
  top:250px;
  width:241px;
  height:76px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:76px;
}
#u44 {
  position:absolute;
  left:2px;
  top:30px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:427px;
  top:260px;
  width:52px;
  height:56px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:56px;
}
#u46 {
  position:absolute;
  left:2px;
  top:20px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:492px;
  top:263px;
  width:138px;
  height:50px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
}
#u48 {
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:691px;
  top:199px;
  width:520px;
  height:163px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:163px;
}
#u50 {
  position:absolute;
  left:2px;
  top:74px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:697px;
  top:362px;
  width:290px;
  height:39px;
  color:#FF0000;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:39px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:286px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:410px;
  top:150px;
  width:801px;
  height:50px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:50px;
}
#u54 {
  position:absolute;
  left:2px;
  top:17px;
  width:797px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:410px;
  top:150px;
  width:160px;
  height:50px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u56 {
  position:absolute;
  left:2px;
  top:17px;
  width:156px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:581px;
  top:620px;
  width:290px;
  height:39px;
  color:#FF0000;
  text-align:left;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:39px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:286px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:120px;
  top:150px;
  width:200px;
  height:65px;
  font-size:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:65px;
}
#u60 {
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:120px;
  top:254px;
  width:200px;
  height:50px;
  font-size:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u62 {
  position:absolute;
  left:2px;
  top:13px;
  width:196px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:120px;
  top:395px;
  width:200px;
  height:65px;
  font-size:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:65px;
}
#u64 {
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:120px;
  top:205px;
  width:200px;
  height:50px;
  font-size:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u66 {
  position:absolute;
  left:2px;
  top:13px;
  width:196px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:120px;
  top:352px;
  width:200px;
  height:50px;
  font-size:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u68 {
  position:absolute;
  left:2px;
  top:13px;
  width:196px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:120px;
  top:303px;
  width:200px;
  height:50px;
  font-size:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u70 {
  position:absolute;
  left:2px;
  top:13px;
  width:196px;
  word-wrap:break-word;
}
