body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:390px;
  top:150px;
  width:785px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:781px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:390px;
  top:200px;
  width:790px;
  height:101px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:72px;
  top:0px;
  width:99px;
  height:36px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:171px;
  top:0px;
  width:80px;
  height:36px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:251px;
  top:0px;
  width:232px;
  height:36px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:36px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:228px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:483px;
  top:0px;
  width:171px;
  height:36px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:654px;
  top:0px;
  width:131px;
  height:36px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:36px;
  width:72px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:72px;
  top:36px;
  width:99px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:171px;
  top:36px;
  width:80px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:251px;
  top:36px;
  width:232px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:483px;
  top:36px;
  width:171px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:654px;
  top:36px;
  width:131px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:66px;
  width:72px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:72px;
  top:66px;
  width:99px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:171px;
  top:66px;
  width:80px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:251px;
  top:66px;
  width:232px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:483px;
  top:66px;
  width:171px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:654px;
  top:66px;
  width:131px;
  height:30px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:396px;
  top:150px;
  width:160px;
  height:50px;
  font-size:18px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u40 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:420px;
  top:360px;
  width:290px;
  height:50px;
  color:#FF0000;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:50px;
}
#u42 {
  position:absolute;
  left:2px;
  top:1px;
  width:286px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1070px;
  top:239px;
  width:70px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u44 {
  position:absolute;
  left:120px;
  top:150px;
  width:200px;
  height:65px;
  font-size:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:65px;
}
#u45 {
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:120px;
  top:257px;
  width:200px;
  height:50px;
  font-size:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u47 {
  position:absolute;
  left:2px;
  top:13px;
  width:196px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:120px;
  top:497px;
  width:200px;
  height:65px;
  font-size:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:65px;
}
#u49 {
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:120px;
  top:208px;
  width:200px;
  height:50px;
  font-size:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u51 {
  position:absolute;
  left:2px;
  top:13px;
  width:196px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:120px;
  top:355px;
  width:200px;
  height:50px;
  font-size:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u53 {
  position:absolute;
  left:2px;
  top:13px;
  width:196px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:120px;
  top:306px;
  width:200px;
  height:50px;
  font-size:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u55 {
  position:absolute;
  left:2px;
  top:13px;
  width:196px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:120px;
  top:454px;
  width:200px;
  height:50px;
  font-size:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u57 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:120px;
  top:404px;
  width:160px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59 {
  position:absolute;
  left:120px;
  top:404px;
  width:200px;
  height:50px;
  font-size:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u60 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:50px;
  top:10px;
  width:1185px;
  height:95px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:90px;
  font-size:20px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:90px;
}
#u63 {
  position:absolute;
  left:2px;
  top:33px;
  width:816px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:820px;
  top:0px;
  width:237px;
  height:90px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:90px;
}
#u65 {
  position:absolute;
  left:2px;
  top:37px;
  width:233px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1057px;
  top:0px;
  width:123px;
  height:90px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:90px;
}
#u67 {
  position:absolute;
  left:2px;
  top:37px;
  width:119px;
  word-wrap:break-word;
}
